<html>
    <div class="container">
    <div class="row row-cols-md-5 row-cols-md-2">
        <div class="col mb-4" class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Php</div>
            <div class="card-body text-primary">
              <h5 class="card-title"></h5>
              <img src="assets/php.png" class="card-img-top" alt="...">
              <p class="card-text">
                PHP es de código abierto muy usado en el desarrollo web, ya que puede incrustarse en HTML.
                 El código se ejecuta en el servidor, genera HTML y se lo envía al cliente.</p>
            </div>
          </div>    
          <div class="col mb-4" class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Perl</div>
            <div class="card-body text-secondary">
              <h5 class="card-title"></h5>
              <img src="assets/Perl.jpg" class="card-img-top" alt="...">
              <p class="card-text">El uso de Perl está extendido en la construcción de aplicaciones CGI para la web.
                   Se trata de un lenguaje muy práctico para extraer información de archivos de texto y generar informes 
                   a partir de su contenido.
                   También es de licencia abierta.</p>
            </div>
          </div>


          <div class="col mb-4" class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Java</div>
            <div class="card-body text-primary">
              <h5 class="card-title"></h5>
              <img src="assets/JAVA.jpeg" class="card-img-top" alt="...">
              <p class="card-text">Es uno de los lenguajes de programación de código abierto más populares. 
                  Java  fue comercializado por primera vez 1995 por Sun Microsystems. Está detrás de muchas webs y 
                  aplicaciones, de consolas y súper ordenadores, de móviles y de hasta Internet.</p>
            </div>
          </div>    
          <div class="col mb-4" class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">C++</div>
            <div class="card-body text-secondary">
              <h5 class="card-title"></h5>
              <img src="assets/c.png" class="card-img-top" height="80px"  alt="">
              <p class="card-text">C++ permite la manipulación de objetos y tiene como base el lenguaje C. 
                  Se le reconoce como uno de los lenguajes de programación multiparadigma 
                  (programación orientada a objetos y estructurada). 
                  Es una de las herramientas más populares por su versatilidad y potencia.</p>
            </div>
          </div>

          <div class="card border-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">C#</div>
            <div class="card-body text-warning">
              <h5 class="card-title"></h5>
              <img src="assets/C.jpg" class="card-img-top" height="100px"  alt="">
              <p class="card-text">C# es un lenguaje creado por Microsoft con seguridad de tipos y orientado a objetos.
                   Se diseñó para ejecutarse en la plataforma .NET. C# se usa para el desarrollo de juegos, servicios web XML,
                    componentes distribuidos, aplicaciones cliente-servidor, etc. La sintaxis de C# es muy reconocida,
                   por lo que si estás familiarizado con Java o C++ no te será difícil aprenderlo.</p>
            </div>
          </div>
          <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Python</div>
            <div class="card-body text-info">
              <h5 class="card-title"></h5>
              <img src="assets/P.png" class="card-img-top" height="100px"  alt="">
              <p class="card-text">Python  se crea a finales de los 80 y principios de los 90. 
                  Su programación se orienta a objetos y se emplea para hacer aplicaciones genéricas 
                  (juegos, web o de escritorio), en la informática científica y big data, que ahora está muy de moda. 
                  Su código es de distribución libre,
                   por lo que no tendrás que pagar licencias para usarlo.</p>
            </div>
          </div>
          <div class="card border-light mb-3" style="max-width: 18rem;">
            <div class="card-header">JavaScript</div>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <img src="assets/js.png" class="card-img-top" height="90px"  alt="">
              <p class="card-text">Es uno de los lenguajes de programación más importantes y según datos,
                   lo utilizan un 80% de los desarrolladores y un 95% de todos los sitios web.
                    Las ventajas de JavaScript se sitúan en el lado del front-end, y varios frameworks que soporta como React y
                   Angular JS tienen un gran potencial para mejorar la experiencia del usuario en la web.</p>
            </div>
          </div>
          <div class="card border-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">Swift</div>
            <div class="card-body text-danger">
              <h5 class="card-title"></h5>
              <img src="assets/sw.png" class="card-img-top" height="90px"  alt="">
              <p class="card-text">Es uno de los lenguajes de programación más recientes y de más futuro y se lanza en 
                  2014 para los sistemas iOS y macOS. 
                  Es open source y puedes encontrar toda la información necesaria para usarlo en su web o en su github.</p>
            </div>
          </div>
          <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header">GO</div>
            <div class="card-body text-success">
              <h5 class="card-title"></h5>
              <img src="assets/go.jpg" class="card-img-top" height="90px"  alt="">
              <br>
              <p class="card-text">Go también es conocido como Goland y es un, nada más y nada menos que, 
                  un lenguaje de programación 
                  diseñado por Google. Está inspirado en C, pero es un lenguaje bastante más complicado.</p>
            </div>
          </div>
          <div class="col mb-4" class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Kotlin</div>
            <div class="card-body text-secondary">
              <h5 class="card-title"></h5>
              <img src="assets/k.png" class="card-img-top" height="90px"  alt="">
              <p class="card-text">Empezamos por Kotlin, el lenguaje de programación de moda 
                  en 2019 no por ser el más fácil, sino porque Google lo 
                  ha ''marcado'' como el mejor lenguaje de programación para Android.</p>
            </div>
          </div>

        
        
      </div>
    </div>
</html>