<html>
   
        <div class="card" >
            <div class="card-body">
              <p class="card-text"><div class="card" style="width: 100rem;">
                <div class="row justify-content-md-center"><img src="assets/php.png"  height="150px" width="150px" alt=""></div>
                <div class="card-body">
                  <p class="card-text">
                    ¿Qué es PHP?
                    PHP (acrónimo recursivo de PHP: Hypertext Preprocessor) es un lenguaje de código abierto muy popular especialmente adecuado para el desarrollo web y que puede ser incrustado en HTML.
                      <br><br>
                      En lugar de usar muchos comandos para mostrar HTML (como en C o en Perl), las páginas de PHP contienen HTML con código incrustado que hace "algo" (en este caso, mostrar "¡Hola, soy un script de PHP!). El código de PHP está encerrado entre las etiquetas especiales de comienzo y final 
                      <?php y ?> que permiten entrar y salir del "modo PHP".
                      <br><br>

                    Lo que distingue a PHP de algo del lado del cliente como Javascript es que el código es ejecutado en el servidor, generando HTML y enviándolo al cliente. El cliente recibirá el resultado de ejecutar el script, aunque no se sabrá el código subyacente que era. El servidor web puede ser configurado incluso para que procese todos los ficheros HTML con PHP,
                     por lo que no hay manera de que los usuarios puedan saber qué se tiene debajo de la manga.</p>
                </div>
              </div>
            </div>
          </div>
</html>